* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
height: 100%;
}

.page__header {
  background-color: rgb(0, 0, 0);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 150px;
}